body {
  font-family: 'Inter', sans-serif;
  width: 80%;
  margin: 0 auto;
  background-image: url(/public/image/fondo1.jpeg);
  background-size: 100% 100%; 
  /* background: radial-gradient(circle, rgb(0, 0, 0), rgba(19, 8, 74, 0.901)); **/
}
@media (max-width: 768px){
  body{
    width: 80%;
    margin: 0 auto;
  }
}

