body {
  font-family: 'Inter', sans-serif;
  width: 80%;
  margin: 0 auto;
  background-image: url(/public/image/fondoo1.jpeg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  background-position: center center;
}
@media (max-width: 768px){
  body{
    width: 80%;
    margin: 0 auto;
  }
}

